# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
fraudshield-env/
.env
.env.*

# VS Code
.vscode/

# Data and models
data/*.csv
models/*.joblib
models/*.h5
models/*.csv

# Docker
*.log
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Test outputs
*.pytest_cache/

# Others
*.bak
*.tmp

# Ignore notebooks output
notebooks/*-checkpoint.ipynb
